<div>
    <h1 class="title_products">Productos</h1>
    {{#each allProducts}}
    <ul class="product_box">
        <li>
            <h2>{{title}}</h2>
            <p>Descripción: {{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Codigo Prod.: {{code}}</p>
            <p>Stock: {{stock}}</p>
        </li>
    </ul>
    {{/each}}
</div>